/* Заголовок */

.header {
          color: #212121;
          font-size: 32px;
          text-align: center;
          width: 150px;
          height: 30px;
}

/* Таблица */
.button {
          margin-top: 13px;
          color: #212121;
          font-size: 14px;
          text-transform: uppercase;
          border-radius: 23px;
          width: 118px;
          height: 75px;
          text-align: center;
          line-height: 80px;

          box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
          border-radius: 29px;
          background-color: #ffffff;
          display: inline-block;
          text-decoration: none;
          letter-spacing: 3.6px;
}

.button:hover {
          color: red;
}

.button:active{
          color: #6c6c6c;
          box-shadow: 0 2px 5px 1px red;
}

html {
         background-image: url(images/pic_1.jpg);
         background-repeat: no-repeat;
         background-position: center center;
         background-attachment: fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
}

.display_h {

          color: #212121;
          font-size: 20px;
          font-weight: 50;
          text-transform: uppercase;
          border-radius: 23px;
          width: 360px;
          height: 50px;
          text-align: center;
          line-height: 90px;
          box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
          border-radius: 15px;
          background-color: #ffffff;
          display: inline-block;
          text-decoration: none;
          letter-spacing: 3.6px;

}

